.header {
    background-color: $color-gray;
    padding: 72px 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    &__logo {
        flex-shrink: 0;
        width: 84px;
        
    }

    &__logo img{
        width: 100%;
    }
    
    &__nav {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            
            column-gap: 42px;
        }
        li {
            flex-shrink: 0;
        }
    }
    
    &__item {
        text-transform: uppercase;
        transition: .3s;

        &:hover {
            color: $color-primary;
        }
        
        &_active {
            color: $color-primary;
            font-weight: 500;
        }
    }
}

.header {
    @media (max-width: $tablet) {
        .wrapper {
            flex-direction: column;
            row-gap: 20px;
        }

        &__logo {
            align-items: center;
        }
    }

    @media (max-width:$mobile) {

        ul {
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 10px;
        }
    }
}